@import "var";
@import "font-loader";

html {
  background: var(--app-color-main--dark);
  font-size: 35px;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  color: var(--app-color-main--dark);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  overflow-x: hidden;
}

h1 {

}

h2 {
  line-height: 2rem;
  font-size: 1.65rem;
  background: linear-gradient(to right, var(--app-color-main), var(--app-color-main--dark));
  display: inline-block;
  border-radius: 5rem;
  padding: .5rem 4rem;
  color: white;
  text-align: center;
  font-weight: 600;
  max-width: 16em;
}

h3 {
  line-height: 2rem;
  font-size: 1.25rem;
  display: inline-block;
  font-weight: 600;
  max-width: 16em;
}

.font-small {
  line-height: .75rem;
  font-size: .5rem;
}


button {
  all: unset;
  box-sizing: border-box;
  line-height: 1.5rem;
  font-size: 1.5rem;
  border: solid 5px var(--app-color-main);
  border-radius: 5rem;
  padding: .5rem 2rem;
  text-align: center;
  color: var(--app-color-main);
  user-select: none;
  cursor: pointer;
}

ul {
  padding: 0;

  li {
    padding-left: 1rem;
    display: block;
    position: relative;

    &:before {
      position: absolute;
      top: .5em;
      left: 0;
      content: '';
      display: block;
      border-radius: var(--app-bullet-size);
      width: var(--app-bullet-size);
      height: var(--app-bullet-size);
      background: var(--app-color-main);
    }

  }

  > * {
    padding-bottom: 1.5rem;
  }
}


.child-remove-margin {
  > *:first-child {
    margin-top: 0 !important;
  }
  > *:last-child {
    margin-bottom: 0 !important;
  }
}


// scroll

body, html {
  scroll-behavior: smooth;

  /* Barre de défilement Firefox */
  scrollbar-width: auto;
  scrollbar-color: #00FF00 #f1f1f1; /* Couleur de la poignée et de la piste de la barre de défilement pour Firefox */

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */


  /* Barre de défilement verticale */
  &::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement pour les navigateurs Webkit (Chrome, Safari, etc.) */
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--app-color-main); /* Couleur de la poignée (thumb) de la barre de défilement */
    border-radius: 6px; /* Arrondi des coins de la poignée */
  }

  /* Barre de défilement horizontale */
  &::-webkit-scrollbar-track {
    background-color: white; /* Couleur de fond de la barre de défilement */
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
