@import "var";
@import "font-loader";

html {
  background: var(--app-color-main--dark);
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  color: var(--app-color-main--dark);
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 500;
  overflow-x: hidden;
}

h1 {
  font-size: 3.3rem;
  line-height: 1.05em;
  font-weight: 900;
}

h2 {
  line-height: 1.05em;
  font-size: 2.3rem;
  font-weight: 500;
}

h3 {
  line-height: 1.05em;
  font-size: 2.3rem;
  font-weight: 900;
}

h4 {
  font-size: 1.45rem;
  line-height: 1.225em;
}

p {
  margin-left: auto;
  margin-right: auto;
}

.font-small {
  line-height: .75rem;
  font-size: .5rem;
}


button,
.app-button {
  all: unset;
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1.5rem;
  border: solid 5px var(--app-color-main);
  border-radius: 5rem;
  padding: .5rem 2rem;
  text-align: center;
  color: var(--app-color-main);
  user-select: none;
  cursor: pointer;
  display: inline-block;

  &.app-button--small {
    line-height: 1em;
    font-size: 1rem;
    padding: .5rem 1rem;
    background: transparent;
    color: var(--app-color-main--dark);
    border: solid 1px var(--app-color-main--dark);
    transition: all 250ms ease-in-out;

    &:hover {
      color: white;
      background: var(--app-color-main--dark);
    }
  }

  @media (max-width: 900px) {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
}

ul {
  padding: 0;

  li {
    padding-left: 1rem;
    display: block;
    position: relative;

    &:before {
      position: absolute;
      top: .35em;
      left: 0;
      content: '';
      display: block;
      border-radius: var(--app-bullet-size);
      width: var(--app-bullet-size);
      height: var(--app-bullet-size);
      background: var(--app-color-main);
    }
  }
  li + li {
      margin-top: 1.5em;
  }
}


.child-remove-margin {
  > *:first-child {
    margin-top: 0 !important;
  }
  > *:last-child {
    margin-bottom: 0 !important;
  }
}


// scroll

body, html {
  scroll-behavior: smooth;

  /* Barre de défilement Firefox */
  scrollbar-width: auto;
  scrollbar-color: #00FF00 #f1f1f1; /* Couleur de la poignée et de la piste de la barre de défilement pour Firefox */

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */


  /* Barre de défilement verticale */
  &::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement pour les navigateurs Webkit (Chrome, Safari, etc.) */
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--app-color-main); /* Couleur de la poignée (thumb) de la barre de défilement */
    border-radius: 6px; /* Arrondi des coins de la poignée */
  }

  /* Barre de défilement horizontale */
  &::-webkit-scrollbar-track {
    background-color: white; /* Couleur de fond de la barre de défilement */
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
