:root {
  font-family: 'Wallop', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // grid
  --app-gutter: 1rem;

  // color
  --app-color-main:       rgb(1 152 59);
  --app-color-main--dark: rgb(1, 96, 82);

  // nav
  --app-nav__height: 2rem;

  // typo
  --app-bullet-size: .5rem;

}
